.example-spacer {
  flex: 1 1 auto;
}

.character-1{
  float:left;
  width: 50%;
}
.character-2{
  float:right;
  width: 50%;
}

.button-location{
  text-align: center;
}

.compare-button {
  font-size: 30px;
  height:50px;
}

