<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Size Comparator</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-compare-tile [description]="descCharacterA" [formGroup]="characterA" class="character-1"></app-compare-tile>
<app-compare-tile [description]="descCharacterB" [formGroup]="characterB" class="character-2"></app-compare-tile>
<div class="button-location">
<button class="compare-button" mat-raised-button (click)="send()" color="primary">Comparer</button>
</div>
