.character{
  margin: 50px;
  background-color: #787878;
}

.side-by-side{
  display:flex;
  float: left;
}

::ng-deep .mat-grid-tile .mat-figure {
  justify-content: end !important;
}

.title-field{
  width:100%;
}

.field{
  font-size:30px;
  width:50%;
}

.label{

  margin-right:5px;
}

.title-input{
  margin-top:2px;
}

.right-elem{
  float: right;
}

.measurement{
  width:70px;
}

.compare-image {
  img{
    width:50%;
  }
  text-align: center;
}

.description{
  font-size:30px;
}
