<form class="character-form" [formGroup]="formGroup" xmlns="">
  <mat-card class="character">
    <mat-form-field class="title-field character-name">
      <mat-card-title><span class="side-by-side label">Nom : </span><span class="side-by-side title-input"><input
        matInput
        formControlName="character-name"
        name="character-name"
        value=""></span>
      </mat-card-title>
    </mat-form-field>
    <mat-card-content>
    <mat-grid-list cols="2" rowHeight="120px">
      <div>
      <mat-grid-tile>
          <mat-form-field class="field character-normal-size">
            <mat-label>taille normale</mat-label>
            <input placeholder="1.75" type="number" formControlName="normal-size" name="normal-size" matInput class="input" value="">
          </mat-form-field>
          <mat-form-field class="field measurement">
            <mat-select  formControlName="normal-measure" >
              <mat-option value="km">km</mat-option>
              <mat-option value="m">m</mat-option>
              <mat-option value="cm">cm</mat-option>
              <mat-option value="mm">mm</mat-option>
            </mat-select>
          </mat-form-field>
      </mat-grid-tile>
      </div>
      <div>
      <mat-grid-tile rowspan="2">
        <p class="description" [innerText]="description"></p>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field class="field character-new-size ">
            <mat-label>taille modifiée</mat-label>
            <input placeholder="1.75" type="number" formControlName="changed-size" name="changed-size" matInput class="input" value="">
          </mat-form-field>
          <mat-form-field  class="field measurement">
            <mat-select formControlName="changed-measure">
              <mat-option value="km">km</mat-option>
              <mat-option value="m">m</mat-option>
              <mat-option value="cm">cm</mat-option>
              <mat-option value="mm">mm</mat-option>
            </mat-select>
          </mat-form-field>
      </mat-grid-tile>
      </div>
    </mat-grid-list>
    </mat-card-content>
    <div class="compare-image">
      <img *ngIf="imageSrc!='' && imageSrc!=null" alt="compared-image" mat-card-image [src]="imageSrc"/>
      <img *ngIf="imageSrc=='' || imageSrc==null" alt="compared-image" mat-card-image [src]="imagePlaceholder"/>
    </div>
  </mat-card>
</form>


